<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbucnQBUdq0nlz9fZbxraG2DazJ2dMrxo</string>
	<key>GCM_SENDER_ID</key>
	<string>986470536902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impactmatch.ImpactMatch</string>
	<key>PROJECT_ID</key>
	<string>impact-match-55abc</string>
	<key>STORAGE_BUCKET</key>
	<string>impact-match-55abc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986470536902:ios:adbf336ad382dcb00029c7</string>
</dict>
</plist>